{% extends "layouts/layout-dashboard.twig" %}
            {% set page_group = "dashboard" %}

            {% block page %}   
                {% set page = page | merge({
                    "title"       : "Akteri",
                    "description" : "Lista aktera."
                }) %}
                {{ parent() }}
            {% endblock %}

            {% block content %}
                <h1>The user's ID is {{user.id}}.</h1>
				
				<pre>
				{{dump}}
				</pre>
				
				
			{# If we are not using server-side pagination, then just render all results immediately #}
                {% if not paginate_server_side %}
					{% for akter in akteri %}


    <div class="row">					
					<form name="user" method="post" action="{{form_action}}">
						<div id="{{alerts_id | default('form-alerts')}}"></div>
        
						<div class="col-sm-4">
							<div class="form-group">
						
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-edit"></i></span>
									<input type="text" class="form-control" name="ime" autocomplete="off" value="{{akter.aime}}" placeholder="Ime" >
								</div>
							</div>
						</div>
						
						<div class="col-sm-4">
							<div class="form-group">
							
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-edit"></i></span>
									<input type="text" class="form-control" name="prezime" autocomplete="off" value="{{akter.aprezime}}" placeholder="Prezime" >
								</div>
							</div>
						</div>

						<div class="col-sm-4">
								
								<div class="vert-pad">
									<button type="submit" class="btn btn-block btn-md btn-primary ">
									<i class="fa fa-edit"></i> Edit
									</button>
								</div> 		
						</div>
						
						<input type="hidden" name="{{csrf_key}}" value="{{csrf_token}}">
						<input type="hidden" name="userid" value="{{akter.aid}}">
					
					
					</form>
	</div>				
					
					
                    {% endfor %}
                {% endif %}						
				
				
            {% endblock %}