{% extends "layouts/layout-dashboard.twig" %}
            {% set page_group = "dashboard" %}

            {% block page %}   
                {% set page = page | merge({
                    "title"       : "Akteri",
                    "description" : "Edit aktera."
                }) %}
                {{ parent() }}
            {% endblock %}

            {% block content %}

<section>
	<div class="col-xs-6 col-sm-6 form-group">
		<h4></h4>
	</div>

	<div class="col-xs-6 col-sm-6 form-group">
		<button type="button" class="btn btn-success js-user-create pull-right" onclick="addPromenaGet()">
		<i class="fa fa-plus-square"></i> Dodaj novu promenu
		</button>
	</div>
</section>

<!--<pre>
{{dump}}
</pre>-->
<link rel="stylesheet" href="{{site.uri.public}}/css/xcustom.css" type="text/css" >


				
			{# If we are not using server-side pagination, then just render all results immediately #}
                {% if not paginate_server_side %}
					{% for akter in akteri %}

<form name="user" method="post" id="akterEditForm" action="{{form_action}}">
    <div class="row">					
					
						<div id="{{alerts_id | default('form-alerts')}}"></div>
        
						<div class="col-sm-4">
							<div class="form-group">
						
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-edit"></i></span>
									<input type="text" class="form-control" name="ime" autocomplete="off" value="{{akter.aime}}" placeholder="Ime" >
								</div>
							</div>
						</div>
						
						<div class="col-sm-4">
							<div class="form-group">
							
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-edit"></i></span>
									<input type="text" class="form-control" name="prezime" autocomplete="off" value="{{akter.aprezime}}" placeholder="Prezime" >
								</div>
							</div>
						</div>

						<div class="col-sm-4">
							<div class="form-group">
							
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-edit"></i></span>
									<input type="text" class="form-control" name="zanimanje" autocomplete="off" value="{{akter.azanimanje}}" placeholder="Zanimanje" >
								</div>
							</div>
						</div>						
						
						
	</div>


    <div class="row">

						<div class="col-sm-4">
							<div class="form-group">
							
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-edit"></i></span>
									<input type="text" class="form-control" name="rodjen" autocomplete="off" value="{{akter.arodjen}}" placeholder="Datum rodjenja" >
								</div>
							</div>
						</div>						
						

						<div class="col-sm-4">
							<div class="form-group">
							
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-edit"></i></span>
									<input type="text" class="form-control" id="pol" name="pol" autocomplete="off" value="{{akter.apol}}" placeholder="Pol" >
								</div>
							</div>
						</div>							

						
						<div class="col-sm-4">
								
								<div class="vert-pad">
									<button id="editAkter" type="submit" class="btn btn-block btn-md btn-primary ">
									<i class="fa fa-edit"></i>{{actionText}}
									</button>
								</div> 		
						</div>						
						
	
	</div>

	

    <div class="row">
						<div class="col-sm-12">
							<div class="form-group">
							
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-edit"></i></span>
									<textarea placeholder="Biografija" name="bio" class="form-control" rows="6" >{{akter.abio}}</textarea>
								</div>
							</div>
						</div>	
	</div>		
	
	
	
	
	
	
	
	<input type="hidden" name="{{csrf_key}}" value="{{csrf_token}}">
	<input type="hidden" name="userid" value="{{akter.aid}}">
	
</form>					
					
                    {% endfor %}
                {% endif %}


<div class="clearfix"></div>
<h2>Lista promena (click to edit):</h2>
<div id="lista">List</div>

<div class="clearfix"></div>




<!-- Modal -->
<div id="modalEditor" class="modal fade " role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" id="modalresp">Edit</h4>
      </div>
      <form name="user" method="post" id="promeneEditFormModal" >
          <div class="modal-body" id="modalEditForm">

          </div>
      </form>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>


				
            {% endblock %}


			
			
{% block page_scripts %}
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

<script>

//akter PROMENE
$( document ).ready(function() {


	ucitajPromene({{aid}});

    $('#modalEditor').on('hidden', function () {

        $('#ui-datepicker-div').remove();

    });

});

    //edit promene
    function editPromenaGet(promenaid){

        //console.dir(promenaid);

        $.ajax({
    	  type: "GET",
    	  url: "{{site.uri.public}}/promene/editPromenaForm/"+promenaid,
    	  success: function(data)
    	  {
            $("#modalEditForm").html(data);
            $("#modalresp").html("Edit");

            $("#modalEditor").modal('show');

        	//$("#akter").select2({placeholder: "Akter"});
        	$("#stranka").select2({placeholder: "Stranka"});
        	$("#funk").select2({placeholder: "Funkcija"});
        	$("#koalicija").select2({placeholder: "Koalicije"});
        	$("#opstina").select2({placeholder: "Opstina"});
        	$("#vlast").select2({placeholder: "U vlasti"});
        	$("#fmesto").select2({placeholder: "Funkcija mesto"});

            $('#datumod').datepicker({ altFormat: "yy-mm-dd", altField: "#altdatumod",  dateFormat: 'dd.mm.yy'  }).keyup(function(e) {
                if(e.keyCode == 8 || e.keyCode == 46) {
                    $.datepicker._clearDate(this);
                }
            });
            $('#datumdo').datepicker({ altFormat: "yy-mm-dd", altField: "#altdatumdo",  dateFormat: 'dd.mm.yy'  }).keyup(function(e) {
                if(e.keyCode == 8 || e.keyCode == 46) {
                    $.datepicker._clearDate(this);
                }
            });

    	  }
    	});
    }

    //dodaj promenu
    function addPromenaGet(){

        $.ajax({
    	  type: "GET",
    	  url: "{{site.uri.public}}/promene/addPromenaForm/"+{{aid}},
    	  success: function(data)
    	  {
            $("#modalEditForm").html(data);
            $("#modalresp").html("Add");

            $("#modalEditor").modal('show');

        	//$("#akter").select2({placeholder: "Akter"});
        	$("#stranka").select2({placeholder: "Stranka"});
        	$("#funk").select2({placeholder: "Funkcija"});
        	$("#koalicija").select2({placeholder: "Koalicije"});
        	$("#opstina").select2({placeholder: "Opstina"});
        	$("#vlast").select2({placeholder: "U vlasti"});
        	$("#fmesto").select2({placeholder: "Funkcija mesto"});

            $('#datumod').datepicker({ altFormat: "yy-mm-dd", altField: "#altdatumod",  dateFormat: 'dd.mm.yy'  }).keyup(function(e) {
                if(e.keyCode == 8 || e.keyCode == 46) {
                    $.datepicker._clearDate(this);
                }
            });
            $('#datumdo').datepicker({ altFormat: "yy-mm-dd", altField: "#altdatumdo",  dateFormat: 'dd.mm.yy'  }).keyup(function(e) {
                if(e.keyCode == 8 || e.keyCode == 46) {
                    $.datepicker._clearDate(this);
                }
            });

    	  }
    	});
    }


	$("#promeneEditFormModal").submit(function(e) {

        e.preventDefault();



        if($("#novapromena").val()==1){
            var formurl = "{{site.uri.public}}/promene/add";
        } else {
            var formurl = "{{site.uri.public}}/promene/edit/"+$("#modalpid").val();
        }

        console.dir(formurl);
        console.dir($("#novapromena").val());


        $.ajax({
			   type: "POST",
			   url: formurl,
			   data: $("#promeneEditFormModal").serialize(),
			   success: function(data)
			   {
                    //refresh changes after adding or updating
                    ucitajPromene({{aid}});

					$("#modalresp").fadeOut(200,function(){
						$('#modalresp').html(data);
						$("#modalresp").fadeIn(500, function(){
							//$("#userfrosting-alerts").fadeOut(5000);
						});
					});



			   }
			 });


	});



	function ucitajPromene(aid){

		if(!aid){ $("#lista").html("No data sent");return; }

		$.ajax({
			   type: "GET",
			   url: "{{site.uri.public}}/api/akter/promene/"+aid,
			   dataType: "json",
			   success: function(data)
			   {
				//console.dir(data)	;
				var dataOut = '<div class="row" style="margin-bottom:20px; font-weight:600;"><div class="col-sm-2">Ime</div><div class="col-sm-2">Stanka</div><div class="col-sm-2">Funkcija</div><div class="col-sm-2">Koalicija</div><div class="col-sm-2">Opstina</div><div class="col-sm-2">Od - do</div>    </div> <div class="clearfix"></div>';
				$.each(data, function( index, value ) {

                var pod = moment(value['pod']).utc(+1).format('DD.MM.YYYY')
                var pdo = moment(value['pdo']).utc(+1).format('DD.MM.YYYY')


					dataOut += '<a onClick="editPromenaGet('+value['pid']+')"   ><div class="row rowpromena">'	;
						dataOut += '<div class="col-sm-2">'+value['aime']+' '+ value['aprezime'] +'</div>'	;
						dataOut += '<div class="col-sm-2">'+value['snaziv']+'</div>'	;
						dataOut += '<div class="col-sm-2">'+value['funkcija']+' <br>( '+value['fmesto']+' )</div>'	;
						dataOut += '<div class="col-sm-2">'+value['knaziv']+'</div>'	;
						dataOut += '<div class="col-sm-2">'+value['opstina']+'</div>'	;
						dataOut += '<div class="col-sm-2">Od:'+pod+'<br>Do:'+pdo+'</div>'	;

					dataOut += '</div></a>'	;
				});



					$("#lista").fadeOut(200,function(){
						$('#lista').html(dataOut);
						$("#lista").fadeIn(500, function(){
							//$("#lista").fadeOut(5000);
						});
					});

			   }
			 });
	}












////////////////////////////////////////////////////////////////////////////
//akter INFO - EDIT
$( document ).ready(function() {

	$("#akterEditForm").submit(function(e) {

		$.ajax({
			   type: "POST",
			   url: window.location.href,
			   data: $("#akterEditForm").serialize(),
			   success: function(data)
			   {

					$("#userfrosting-alerts").fadeOut(200,function(){
						$('#userfrosting-alerts').html(data);
						$("#userfrosting-alerts").fadeIn(500, function(){
							//$("#userfrosting-alerts").fadeOut(5000);
						});
					});



			   }
			 });

		e.preventDefault(); 
	});

        var gender = ["M","Z"];

        $( "#pol" ).autocomplete({
            source: gender,minLength: 0
        }).focus(function(){
            $(this).data("ui-autocomplete").search("");
        });

	

	
	
});
</script>

<style>
.modal {
    width:80%;
    margin-left: -40%;
}
.modal-dialog, .modal-content {
    width:100%;
}
.modal-dialog{
    margin:0;
}
.ui-datepicker{
    z-index:9999999 !important;
}
.rowpromena:hover{
    display:block;
}
.rowpromena:hover{
    background-color: #f5f5f5;
    cursor:pointer;
}

</style>



{% endblock %}			