            {% block content %}


<link rel="stylesheet" href="{{site.uri.public}}/css/font-awesome-4.3.0.css" type="text/css" >
<link rel="stylesheet" href="{{site.uri.public}}/css/font-starcraft.css" type="text/css" >
<link rel="stylesheet" href="{{site.uri.public}}/css/bootstrap-3.3.2.css" type="text/css" >
<link rel="stylesheet" href="{{site.uri.public}}/css/bootstrap-modal-bs3patch.css" type="text/css" >
<link rel="stylesheet" href="{{site.uri.public}}/css/bootstrap-modal.css" type="text/css" >
<link rel="stylesheet" href="{{site.uri.public}}/css/lib/metisMenu.css" type="text/css" >
<link rel="stylesheet" href="{{site.uri.public}}/css/bootstrap-custom.css" type="text/css" >
<link rel="stylesheet" href="{{site.uri.public}}/css/bootstrap-switch.css" type="text/css" >
<link rel="stylesheet" href="{{site.uri.public}}/css/tablesorter/theme.bootstrap.css" type="text/css" >
<link rel="stylesheet" href="{{site.uri.public}}/css/tablesorter/jquery.tablesorter.pager.css" type="text/css" >
<link rel="stylesheet" href="{{site.uri.public}}/css/select2/select2.css" type="text/css" >
<link rel="stylesheet" href="{{site.uri.public}}/css/select2/select2-bootstrap.css" type="text/css" >
<link rel="stylesheet" href="{{site.uri.public}}/css/bootstrapradio.css" type="text/css" >
<link rel="stylesheet" href="{{site.uri.public}}/css/timeline.css" type="text/css" >
<link rel="stylesheet" href="{{site.uri.public}}/css/lib/morris.css" type="text/css" >
<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" type="text/css" >

<link rel="stylesheet" href="{{site.uri.public}}/css/xcustom.css" type="text/css" >

<div id="formpage" style="width: 80%; margin: 0 auto;">

                <h3>Pošalji promenu</h3>
                <p>Koristeci ovu formu mozete poslati zahtev za promenu odredjen informacije <b>ukoliko smatrate da ona nije istinita</b>.</p>
                <p>Prilikom slanja zahteva molimo vas da obavezno obratite paznju na sledece</p>
                <p>
                <ul>
                    <li>Obavezno ostavite <b>e-mail adresu</b> ukoliko zelite da vas obavestimo o uspesnoj promeni</li>
                    <li>Obavezno navedite <b>osobu ili stranku</b> na koju se promena odnosi kao i <b>opstinu</b> na kojoj je potrebno izvsriti promenu</li>
                    <li>Obavezno navedite link ili mesto na kome mozemoda verifikujemo promenu. <b>Bez verifikacije ni jedna promena nece biti izvrsena</b>.</li>
                </ul>
                <b>Zahvaljujemo vam na vasoj posvecenosti</b>
                </p>


<div id="{{alerts_id | default('form-alerts')}}"></div>
<div id="userfrosting-alerts"></div>


<form name="posaljiPromenuForm" method="post" id="posaljiPromenuForm" action="">



    <div class="row">

						<div class="col-sm-12">
							<div class="form-group">
                                <b>Vaš predlog je u vezi sa (unesite ime osobe ili stranke)*</b>
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-edit"></i></span>
									<input  type="text" class="form-control" id="akter" name="akter" autocomplete="off" value="Petar" placeholder="" >
								</div>
							</div>
						</div>
						

						<div class="col-sm-12">
							<div class="form-group">
                                <b>Na opštini? (unesite opštinu na kojoj deluje osoba ili stranka)* </b>
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-edit"></i></span>
									<input  type="text" class="form-control" id="opstina" name="opstina" autocomplete="off" value="Mladenovac" placeholder="Opština" >
								</div>
							</div>
						</div>							

						
						<div class="col-sm-12">
							<div class="form-group">
							    <b>Vasa e-mail adresa*</b>
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-edit"></i></span>
									<input  type="text" class="form-control" id="email" name="email" autocomplete="off" value="trt@mrt.com" placeholder="E-mail" >
								</div>
							</div>
						</div>

						<div class="col-sm-12">
							<div class="form-group">
							    <b>Promena koju ste primetili (npr. Članovi i odbornici prokupačkog SDS napustili stranku i formirali grupu gradjana od 05.12.2016 godine  )*</b>
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-edit"></i></span>
									<textarea rows="5"   type="text" class="form-control" id="promena" name="promena"  value="" placeholder="Promena" >Članovi i odbornici prokupačkog SDS napustili stranku i formirali grupu gradjana od 05.12.2016 godine </textarea>
								</div>
							</div>
						</div>

						<div class="col-sm-12">
							<div class="form-group">
							    <b>Mesto / link / publikacija na kome se mogu potvrditi vase tvrdnje</b>
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-edit"></i></span>
									<input  type="text" class="form-control" id="potvrda" name="potvrda" autocomplete="off" value="google.rs" placeholder="" >
								</div>
							</div>
						</div>

	
	</div>


	<div class="row">
						<div class="col-sm-12">

								<div class="vert-pad">
									<button id="editAkter" type="submit" class="btn btn-block btn-md btn-primary ">
									<i class="fa fa-edit"></i>Pošalji promenu
									</button>
								</div>
						</div>
	</div>


	
	<input type="hidden" name="{{csrf_key}}" value="{{csrf_token}}">
	
</form>




<div class="clearfix"></div>


</div>



				
				
            {% endblock %}


			
			
{% block page_scripts %}
<script src="{{site.uri.public}}/js/jquery-1.11.2.js" ></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>


<script>
$( document ).ready(function() {



	$("#posaljiPromenuForm").submit(function(e) {

		$.ajax({
			   type: "POST",
			   url: "{{site.uri.public}}/api/predlozitePromenu",
			   data: $("#posaljiPromenuForm").serialize(),
			   success: function(data)
			   {
                    //refresh changes after adding or updating
					$("#userfrosting-alerts").fadeOut(200,function(){
						$('#userfrosting-alerts').html(data);
						$("#userfrosting-alerts").fadeIn(500, function(){
							//$("#userfrosting-alerts").fadeOut(5000);
						});
					});					

					
					
			   }
			 });

		e.preventDefault(); 
	});



	
	
	
});
</script>				
{% endblock %}