{% extends "layouts/layout-dashboard.twig" %}
            {% set page_group = "dashboard" %}

            {% block page %}   
                {% set page = page | merge({
                    "title"       : "Promene",
                    "description" : "Lista promena."
                }) %}
                {{ parent() }}
            {% endblock %}

            {% block content %}

<link rel="stylesheet" href="{{site.uri.public}}/css/xcustom.css" type="text/css" >				
			
<section>	
	<div class="col-xs-6 col-sm-6">
		<h4>Promene</h4>
	</div>
	
	<div class="col-xs-6 col-sm-6">
	<a href="{{site.uri.public}}/promene/add">
		<button type="button" class="btn btn-success js-user-create pull-right" >
		<i class="fa fa-plus-square"></i> Dodaj novu promeni
		</button>
	</a>
	</div>	
</section>			
				
<div class="clearfix"></div>

<pre>
{{dump}}
</pre>

<!-- live search-->

<div class="clearfix"></div>

<section>
	<div class="col-sm-12">
		<div class="form-group">
		
			<div class="input-group">
				<span class="input-group-addon"><i class="fa fa-search"></i></span>
				<input type="text" class="form-control" id="search" name="search" autocomplete="off" value="" placeholder="Fast filter" >
			</div>
		</div>
	</div>
</section>

<div class="clearfix"></div>


    <div class="row rowheader"  >					
        
						<div class="col-sm-1">
							Ime
						</div>
						
						<div class="col-sm-1">
							Prezime</a>
						</div>
						
						<div class="col-sm-1">
							Datum rodjenja</a>
						</div>						


						<div class="col-sm-1">
							Stranka
						</div>

						<div class="col-sm-1">
							Funkcija
						</div>

						<div class="col-sm-1">
							Funk/Mesto
						</div>
						
						<div class="col-sm-1">
							Koalicija
						</div>						

						<div class="col-sm-1">
							Opstina
						</div>

						<div class="col-sm-1">
							Vl/Op
						</div>

						<div class="col-sm-1">
							Datum od:
						</div>

						<div class="col-sm-1">
							Datum do:
						</div>							
						
	</div>	

			

				
			{# If we are not using server-side pagination, then just render all results immediately #}
                {% if not paginate_server_side %}
					{% for pr in promene %}
					
					{% set rowid= pr.aime ~ pr.aprezime ~ pr.arodjen ~ pr.azanimanje ~ pr.snaziv ~ pr.funkcija ~ pr.knaziv   %}

    <div class="row rowpromena" id="{{rowid|replace({" " : "","," : "","." : ""}) }}" >					
        
						<div class="col-sm-1">
							<a href="promene/edit/{{pr.pid}}"  >{{pr.aime}}</a>
						</div>
						
						<div class="col-sm-1">
							<a href="promene/edit/{{pr.pid}}"  >{{pr.aprezime}}</a>
						</div>
						
						<div class="col-sm-1">
							<a href="promene/edit/{{pr.pid}}"  >{{pr.arodjen}}</a>
						</div>						

						<div class="col-sm-1">
							<a href="promene/edit/{{pr.pid}}"  >{{pr.snaziv}}</a>
						</div>

						<div class="col-sm-1">
							<a href="promene/edit/{{pr.pid}}"  >{{pr.funkcija}}</a>
						</div>

						<div class="col-sm-1">
							<a href="promene/edit/{{pr.pid}}"  >{{pr.fmesto}}</a>
						</div>						
						
						<div class="col-sm-1">
							<a href="promene/edit/{{pr.pid}}"  >{{pr.knaziv}}</a>
						</div>

						<div class="col-sm-1">
							<a href="promene/edit/{{pr.pid}}"  >{{pr.opstina}}</a>
						</div>

						<div class="col-sm-1">
							<a href="promene/edit/{{pr.pid}}"  >{{pr.pnavlasti}}</a>
						</div>

						<div class="col-sm-1">
							<a href="promene/edit/{{pr.pid}}"  >{% if pr.pod %}{{ pr.pod|date("d.m.Y") }}{% endif %}</a>
						</div>

						<div class="col-sm-1">
							<a href="promene/edit/{{pr.pid}}"  >{% if pr.pdo %}{{ pr.pdo|date("d.m.Y") }}{% endif %}</a>
						</div>							
						
	</div>				
				
					
                    {% endfor %}
                {% endif %}						
<div class="col-xs-12" style="height:50px;"></div>					
				
            {% endblock %}
			
			
			
{% block page_scripts %}

<script>
//live search 			
$( document ).ready(function() {
			
	$("#search").on("keyup", function() {
		var value = $(this).val();
		
		$(".rowpromena").each(function(index) {
		
				$row = $(this);
				var id = $row.attr('id').toLowerCase();

				if (id.indexOf(value.toLowerCase()) < 0 ) {
					$row.hide();
				}
				else {
					$row.show();
				}

		});
	});

});	
</script>				
{% endblock %}		