{% extends "layouts/layout-dashboard.twig" %}
            {% set page_group = "dashboard" %}

            {% block page %}   
                {% set page = page | merge({
                    "title"       : "Stranke",
                    "description" : ""
                }) %}
                {{ parent() }}
            {% endblock %}

            {% block content %}
                <h1></h1>
				
<pre>
{{dump}}
</pre>

				
			{# If we are not using server-side pagination, then just render all results immediately #}
                {% if not paginate_server_side %}
					{% for stranka in stranke %}

<form name="user" method="post" id="strankaEditForm" action="{{form_action}}">
    <div class="row">					
					
						<div id="{{alerts_id | default('form-alerts')}}"></div>
        
						<div class="col-sm-8">
							<div class="form-group">
						
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-edit"></i></span>
									<input type="text" class="form-control" name="stranka" autocomplete="off" value="{{stranka.snaziv}}" placeholder="Naziv stranke" >
								</div>
							</div>
						</div>
						
						
						<div class="col-sm-4">
								
								<div class="vert-pad">
									<button id="editAkter" type="submit" class="btn btn-block btn-md btn-primary ">
									<i class="fa fa-edit"></i>{{actionText}}
									</button>
								</div> 		
						</div>						
						
	
	</div>

	
	
	<input type="hidden" name="{{csrf_key}}" value="{{csrf_token}}">
	<input type="hidden" name="userid" value="{{stranka.sid}}">
	
</form>					
					
                    {% endfor %}
                {% endif %}						
				
				
            {% endblock %}


			
			
{% block page_scripts %}
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<script>
$( document ).ready(function() {

	$("#strankaEditForm").submit(function(e) {

		$.ajax({
			   type: "POST",
			   url: window.location.href,
			   data: $("#strankaEditForm").serialize(), 
			   success: function(data)
			   {
					
					$("#userfrosting-alerts").fadeOut(200,function(){
						$('#userfrosting-alerts').html(data);
						$("#userfrosting-alerts").fadeIn(500, function(){
							//$("#userfrosting-alerts").fadeOut(5000);
						});
					});					
					
					
					
			   }
			 });

		e.preventDefault(); 
	});

	

	
	
});
</script>				
{% endblock %}			