<div class="sidebar-nav navbar-collapse">
    <ul class="nav" id="side-menu">
        <li class="sidebar-search">
            <div class="input-group custom-search-form">
                <input type="text" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                <button class="btn btn-default" type="button">
                    <i class="fa fa-search"></i>
                </button>
            </span>
            </div>
            <!-- /input-group -->
        </li>
        <li>
            <a href="{{site.uri.public}}/dashboard"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
        </li>
		
		{% if checkAccess('uri_akteri') %}	<!-- uri_users -->
            <li>
              <a href="{{site.uri.public}}/akteri"><i class="fa fa-users fa-fw"></i> {{ translate("MENU_AKTERI") }}</a>
            </li>
        {% endif %}		

		{% if checkAccess('uri_funk') %}	<!-- uri_funk -->
            <li>
              <a href="{{site.uri.public}}/funkcije"><i class="fa fa-users fa-fw"></i> {{ translate("MENU_FUNK") }}</a>
            </li>
        {% endif %}


		{% if checkAccess('uri_opstine') %}	<!-- uri_opstine -->
            <li>
              <a href="{{site.uri.public}}/opstine"><i class="fa fa-users fa-fw"></i> {{ translate("MENU_OPSTINE") }}</a>
            </li>
        {% endif %}			

		{% if checkAccess('uri_stranke') %}	<!-- uri_stranke -->
            <li>
              <a href="{{site.uri.public}}/stranke"><i class="fa fa-users fa-fw"></i> {{ translate("MENU_STRANKE") }}</a>
            </li>
        {% endif %}			

		{% if checkAccess('uri_koalicije') %}	<!-- uri_koalicije -->
            <li>
              <a href="{{site.uri.public}}/koalicije"><i class="fa fa-users fa-fw"></i> {{ translate("MENU_KOALICIJE") }}</a>
            </li>
        {% endif %}	

		{% if checkAccess('uri_funk') %}	<!-- uri_promene -->
            <li>
              <a href="{{site.uri.public}}/promene"><i class="fa fa-users fa-fw"></i> {{ translate("MENU_PROMENE") }}</a>
            </li>
        {% endif %}	

		{% if checkAccess('uri_promene_zahtev') %}	<!-- uri_promene_zahtev -->
            <li>
              <a href="{{site.uri.public}}/promeneZahtev"><i class="fa fa-users fa-fw"></i> {{ translate("MENU_PROMENE_ZAHTEV") }}</a>
            </li>
        {% endif %}	


		
        
        {% if checkAccess('uri_zerg') %}
        <!--<li>
            <a href="{{site.uri.public}}/zerg"><i class="sc sc-zerg fa fa-fw"></i> Zerg</a>
        </li> -->
        {% endif %}
        {% if checkAccess('uri_users') %}
        <li>
            <a href="{{site.uri.public}}/users"><i class="fa fa-users fa-fw"></i> {{ translate("MENU_USERS") }}</a>
        </li>
        {% endif %}
        {% if checkAccess('uri_group_users', { ('primary_group_id') : 4 }) %}
        <!--<li>
            <a href="{{site.uri.public}}/users/zerglings"><i class="sc sc-zergling fa-fw"></i> Zerglings</a>
        </li>-->
        {% endif %}
        {% if checkAccess('uri_site_settings') or checkAccess('uri_manage_groups') %}
        <li>
            <a href="#"><i class="fa fa-wrench fa-fw"></i> {{ translate("MENU_CONFIGURATION") }}<span class="fa arrow"></span></a>
            <ul class="nav nav-second-level">
                {% if checkAccess('uri_site_settings') %}
                <li>
                    <a href="{{site.uri.public}}/config/settings"><i class="fa fa-globe fa-fw"></i> {{ translate("MENU_SITE_SETTINGS") }}</a>
                </li>
                {% endif %}
                {% if checkAccess('uri_manage_groups') %}
                <li>
                    <a href="{{site.uri.public}}/groups"><i class="fa fa-tags fa-fw"></i> {{ translate("MENU_GROUPS") }}</a>
                </li>
                {% endif %}
            </ul>
            <!-- /.nav-second-level -->
        </li>
        {% endif %}
    </ul>
</div>
<!-- /.sidebar-collapse -->
